body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

h2 {
    color: #555555;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="time"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#weather {
    margin-top: 20px;
    font-size: 16px;
    color: #333333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.weather-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.weather-day {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    width: 18%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}